PREFECT_API_URL=http://localhost:4200/api
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/REPLACE/ME/HERE
HEALTHCHECKS_PING_URL=https://hc-ping.com/REPLACE-ME
NEON_DSN=postgresql://user:password@host/dbname
